*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1 {
    color: rgb(111, 212, 64);
}
h2 {
    color: #cca72f;
}
p {
    color: #dd2534cc;
}
button{
    color: #fff;
    background-color: #025157;
}
body {
    background-color: #fffbf7;
}
