*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.carrusel{
    max-width: 100%;
    width: 30%;
    
    
}

.header {
    margin: 40px 20px auto 20px;
    /*margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    el comando margin contempla todos
    los margenes, arriba, derecha, abajo 
    izquierda
    */
    font-size: 0;
    /*
    Font size quita el espacio entre
    la lista de header, la usamos
    para que los porcentajes no se vean
    afectados, y se les agrega en la parte
    de header heredados. header <*
    */
    line-height: 45px;
    display: flex;
    justify-content: space-around;
}
h1 {
    color: rgb(111, 212, 64);
}
h2 {
    color: #cca72f;
}
p {
    color: #dd2534cc;
}
button{
    color: #fff;
    background-color: #025157;
}
body {
    background-color: #fffbf7;
    margin-top: 5%;
}
li{
    display: inline;
    /*
    inline expresa en una sola linea
    la lista que pusimos con li
    */
    margin: 0 25px 0 25px
}
.header > * {
    /*display: inline-block;
    */
    
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}
.logo{
    width: 15%;
}
.actions{
    width: 20%;
    text-align: right;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    
}
.actions >*{
    margin-left: 10px;
    margin-right: 10px;
}
.actions a{
    color: #67b54b;
    font-size: 15px;

}
.actions button{
    background-color: #67b54b;
    color: white;
    padding: 12px 14px 12px 14px;
    border: 0;
    border-radius: 5px;

}

/*.navbar {
    width: 70%;
    text-align: center;
    color: #025157;
    font-family: sans-serif;
}*/
.publicidad-H {
    color: #025157;
}
.publicidad-B {
    color: #343434
}
.promo  {
    display: flex;
    width: 70%;
    margin: 100px, auto;
    align-items: center;
    background-color: #a1d683;    
}


.publi > form p {
color: #025157;
}

.flecha {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.video {
    display: flex;
    align-items: center;
}
.encabfijo {
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    
}
.logos-publi  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.logos >*{
   display: flex;
   align-items: center;
   justify-content: center;
}
.logos> img{
    width: 100%;
}

/*
Sección adicional para asemejar a la pagina
*/
main {
    text-align: center;
}
main h1 {
    color: #025157;
    font-family: "Alegreya", serif;
    font-size: 60px;
    margin-bottom: 24px;
    margin-top: 24px;
}
main h4{
    color: #46484c;
    font-family: "Slabo 27px", serif;
    font-size: 20px;
    margin-bottom: 30px;
}
.botones-chidos input, button {
    border-radius: 6px;
    height: 100%;
}
.botones-chidos input {
    border: 1px solid #b6b6b6;
    padding: 15px 20px;
    width: 60%;
    max-width: 250px;
}
.botones-chidos button {
    background-color: #025157;
    color: #fff;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 15px 20px;
    margin-left: -10px;
}
main p {
    color: #8b8b8bcc;
    margin-top: 15px;
}
.logo-cap {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}
.img-post-logo {
    display: flex;
    align-items: center;
    justify-content: center
}
.img-post-logo img{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    width: 70%;
}
.copy-matcha-video {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.copy-matcha-video img{
    width: 120px;
    margin-top: 10px;
}
.promocion-matcha {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20% 10% ;
}
.texto-promo {
    margin-left: 10px;
}
.texto-promo p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
}
.texto-promo h3{
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
}
.boton-promo-form p {
    color: #8b8b8bcc;
}
/* Postwork
*/
/* colores texto */
.post-body > h1 {
    color: #007bff;
    font-size: 300%;
    text-align: center;
}
.post-body > p{
    color: black;
    font-size: 100%;
}
.post-der-body > h3 {
    color: black;
    font-size: 200%;
    text-align: center;
}
.post-der-body > p{
    color: black;
    font-size: 100%;
    text-align: center;
}
/* estilo*/
.post-work  {
    display: flex;
    background-color: #a1d683;
    align-items: center;
    margin-top: 20px;
}
.post-derecha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 12px 14px 12px 14px;
    border: 0;
    border-radius: 5px;
}
.post-derecha > img {
    width: 50%;
}

.post-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}
.post-body >img{
    width: 50%;
}
.post-button{
    background-color: #610fe6;
    color: white;
    padding: 12px 14px 12px 14px;
    border: 0;
    border-radius: 5px;
    display: flex;
    justify-items: center;
}

/*
Sesion 3
grid template columns, modifica los valores de
lascolumnas
*/
.features {
    display: grid;
    /*grid-template-columns: 300px 300px;
    grid-template-columns: repeat(2, 300px);hace lo mismo
    grid-template-columns: 500px 1fr; el fr hace
    que se ocupe el espacio que existe
    grid-template-columns: 1fr 1fr;  lo
    mismo, esto significa que la distribución es de
    50:50 */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,220px); /*reto*/
    /* usando fr, hace lo mismo
    solo que se tiene
    que especificar la altura,
    para que se divida equitativamente*/
    grid-template-columns: repeat(2,1fr);
    height: 660px;
    grid-template-rows: repeat(2, 330px);
    /*el atajo para poner columnas y columnas
    en una sola linea es con grid template
    primero rows y luego column dividido con slash
    */
    grid-template: repeat(2, 330px) / repeat(2, 1fr);

}
.feature-art{
    background-color: lightcyan;
    margin: 10px;
    width: 40%;
    height: 50px;
}
/* ultimo reto sesion 3 tarjetas*/
.tarjetas{
    display: grid;
    padding: 5% 10%;
    grid-template: repeat(2,330px)/ repeat(2,1fr);
    background-color: #025157;

}
.mini {
    width: 50%;
    display: flex;
    flex: 1;
    position: relative;
    right: -50px;
    height: 80%;
}
.tj1{
    
margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 5px;
  display: flex;
  align-items: center;
  overflow: hidden;

}
.tj {
    
    padding: 30px 20px 40px 40px;
    flex: 2;
}
.tarjetas >*{
    display: flex;
    justify-content: center;
    
}
/*Fuentes de texto*/
.tj p{
    font-size: 16px;
  color: #7e7e7e;
  font-weight: 400;
}
.tj h3{
    font-size: 24px;
  color: #343434;
  font-weight: 400;
}
.tj a{
    font-size: 16px;
  color: #67b54b;
  font-weight: 600;
  text-decoration: none;
}
.tj img {
    width: 40%;
}

/* Segunda parte post work*/
.cards-pt-all {
    display: flex;
    flex-direction: column;
    /* estilo seccion */
    padding: 5% 10%;
    
}
.steps-4 {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
margin-top: 70px;

}
.card-4 {
    background-color: white;
    border: 1px solid #dadada;
    border-radius: 5px;
    margin: 0 20px;  
    display: flex; 
    flex-direction: column;
    
}
/*Estilos texto y cuadros*/
.pt-body {
    padding: 25px;
}
.pt-body h3 {
    font-size: 30px;
    line-height: 36px;
    font-family: "Alegreya", serif;
    color: #025157;
    font-weight: 400;
    text-align: center;
}
.pt-body p {
    font-size: 15px;
    line-height: 1.5;
    color: #46484c;
    font-weight: 400;
    height: 85px;
}
.pt-body a {
    font-size: 16px;
    line-height: 1.4;
    color: #67b54b;
    font-weight: 900;
    text-decoration: none;
}
/* propiedades imagenes */
.pt-image {
    width: 100%;
    height: 100%;
}
.icon {
    position: absolute;
    width: 2%;
    margin: 15px 25px 0 25px;    
}
/* Encabezados y botton*/
.text-grid-pt h2 {
    color: #025157;
    font-size: 50px;
    line-height: 60px;
    font-weight: 400;
    font-family: "Alegreya", serif;
    margin-bottom: 8px;
    text-align: center;
}
.text-grid-pt p {
    max-width: 60%;
    color: #46484c;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 auto;
    margin-bottom: 16px;
    text-align: center;
}
.cards-pt-all button {
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    margin-top: 6px;
    background-color: #025157;
    margin: auto;
    padding: 1%;
}
/** Inicio de sesion 5 
uso de media para crear breakpoints y mejorar la 
experiencia en usuarios con diferentes pantallas
como primer paso, vamos a ocultar
nuestro menu de navegacion y acciones
Anotación: faltaban parentesis cuando
se copiaron

dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {
    /*.navbar, .actions {
        display: none;
    }*/
    .header  {
        margin: 0;
        margin-top: 5%;
        margin-right: 20%;
        
    }
    h1 {
        font-size: 30px;
    }
    body {
        margin-top: 110px;
        background-color: rgba(208, 255, 0, 0.178);
    }
    .promo {
        flex-direction: column;
        margin: auto;
        width: 70%;
    }
    .logo-cap img {
        width: 80%;
        
    }
    .promocion-matcha {
        flex-direction: column;
    }
    .texto-promo{
        width: 100%;
        margin: 0;
        padding: auto;
    }
    .steps-4 {
        grid-template: repeat(4, 1fr) / 1fr ;
    }
    .video {
        width: 100%;
    }
    .post-work {
        flex-direction: column;

    }
    .tarjetas {
        grid-template-columns: 1fr;

    }
    
    
    .tj {
        padding: 0 5%  ;
    }
    
    .post-body h1 {
        font-size: 200%;
    }
    .mini  {
        display: none;
    }

  }
  
  /** dispositivos pequeños en vista landscape (horizontal) */
  @media (min-width: 576px) and (max-width: 767px) {
    
  }
  
  /** dispositivos medianos (tablets) */
  @media (min-width: 768px) and (max-width: 991px) {
    
  }
  
  /** dispositivos grandes (desktops) */
  @media (min-width: 992px) and (max-width: 1199px) {
    
  }
  
  /** dispositivos extra grandes (monitores grandes, tvs) */
  @media (min-width: 1200px) {
    
  }
